body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
  background-color: lightblue;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.root {
	background-color: red;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
}